
.about-me{
    background-color: #172336;
    height:80vh;
}
.about-content{
    
    color:#fff;
}
.about-info{
    padding-top:5%;
}
.about-in{
    color:#fff;
}
.about-photo{
    margin:auto;
    width:60%;
    

}